.main_info-button {
  @include button-size-small;

  &:hover {
    @include hover-state-button;
  }

  &:focus {
    @include focus-state-button;
  }
}
.footer_subscribir-button {
  padding: 10px 60px 10px;
  height: auto;
  width: 100%;
  margin-left: -12px;
  border: none;
  font-family: $old-standard;
  background-color: $white;
  font-size: $medium;
  font-weight: $bold;
  transform: rotate(-90deg);
}

@media screen and (min-width: $min-md) {
  .footer_subscribir-button {
    padding: 10px 60px 10px;
    height: auto;
    width: 100%;
    margin-left: -37%;
    font-size: $large;
  }
  .main_info-button {
    @include button-size-normal;
  }
}

@media screen and (min-width: $min-xl) {
  .footer_subscribir-button {
    padding: 10px 60px 10px;
    height: auto;
    width: 100%;
    margin-left: -12px;
    font-size: $x-large;
  }
  .main_info-button {
    @include button-size-normal;
  }
}
