.navigation {
    position: relative;
}

.navigation__logo {
    position: absolute;  
    padding: .8em .5em .5em .5em;
    background-color: $smoky-black;
    color: $white;
    h5 {
        margin: 0;        
    }
    
}

.collapsible {
    text-align: right;
    label {
        display: block;
        padding-top: .5em;
        padding-bottom: .4em;
        padding-right: 1em;
        font-size: 1.4rem;
    }
}

#menu {
    display: none;
}

input:checked~.navigation__container {
    max-height: 100%;
}

.navigation__container {
    max-height: 0;
    padding: 0;
    overflow: hidden;
}

.navigation__list {
    list-style-type: none;
}

.navigation__item {
    a {
        display: block;
        text-align: left;
        padding: .5em;
        font-family: $raleway;
        font-size: $x-large;
        font-weight: $bold;
        text-decoration: none;
        color: $smoky-black;
        &:hover {
            color: $granite-gray;
        }
    }
}

@media screen and (min-width: $min-md) {
    .navigation__logo {
        position: absolute; 
        background-color: $smoky-black;
        color: $white;
        width: 85px;
        height: 67px;
        h5 {
            margin: 0;  
            font-size: $xx-large; 
            padding-left: 8px;
            padding-top: 15px ;
        }        
}
    .collapsible {
        label {
            display: none;
        }
    }
    .navigation__container {
        max-height: 100%;
        padding: .75em 1em 0 3em;
        overflow: visible;
    }
    .navigation__list {
        display: flex;
        justify-content: flex-end;
        padding: inherit;
        margin: inherit;
    }
    .navigation__item {
        a {
            padding: .5em 1em;
        }
    }
}